body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .dropdown {
    margin-right: 10px;
  }

  .dropdown-menu {
    display: none;
  }

  .menu-active {
    display: block;
  }